<header>
  <nav>
    <a href="#Proyectos">Proyectos</a>
    <a href="">Skills</a>
  </nav>

  <button id="theme-toggle" aria-label="Cambiar tema">
    🌙
  </button>
  <script src="/src/scripts/theme.js"></script>
  <button id="language-toggle" aria-label="Cambiar tema">
    🇪🇸
  </button>
  <script src="/src/scripts/language.js"></script>
</header>

<style>
  html {
    scroll-behavior: smooth;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 0 1rem;
    background-color: var(--background-color); 
    z-index: 1000; 
  }

  nav {
    display: flex;
    gap: 1rem;
    background-color: var(--buttons-color);
    padding: 0.5rem 1rem;
    border-radius: 9999px;
  }

  nav a {
    text-decoration: none;
    color: var(--text-color);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
  }

  .language-toggle{
    display: flex;
    flex-direction: row;
  }
</style>