<section class="presentation-section">
  <div>
    <h1>Hola, soy <span>BrayanGuti</span></h1>
    <p>Ingeniero de software con gran pasión por el diseño web responsive y las experiencias digitales atractivas. 
      Mi enfoque principal actualmente es el desarrollo frontend, sin embargo también poseo habilidades en backend y bases de datos, 
      lo que me permite construir soluciones completas y funcionales.
    </p>
  </div>
  <img src="./xdddds.png" alt="BrayanGuti Picture">
</section>

<style>
  section{
    height: 90vh;
    display: flex;
  }

  div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20vh;
  }

  h1{
    font-size: 2.5rem;
  }

  span{
    color: var(--verde-auxiliar);
  }

  p{
    font-size: 1rem;
  }

  img{

  }

</style>